<div id="footer">
  <div class="wrap">
    <div id="col">
      <p id="alatxt">Copyright {{getCurrentYear}} </br> Kim Rekilä, Oskar Sundholm, Lauri Rantasalo, Mika Sundqvist</p>
    </div>
    <div class="clear"></div>
  </div>
</div>
